
  #signin_div {
    margin: auto;
    margin-top: 5%;
    padding: 2%;
    width: 30%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 12px;
    border: 2px solid black;
    border-radius: 12px;
    background-color: white;
  }
  #signin_div input {
    margin: auto;
    width: 70%;
    padding: 1%;
    border: 1px solid black;
    border-radius: 15px;
    background-color: white;
  }
  #signin {
    margin: auto;
    background-color: blue;
    color: white;
    width: 20%;
    border-radius: 20px;
    border: none;
    padding: 1% 0%;
  }
  *{
    background-color:lightgray;
  }
  .hidden{
    text-align: center;
   background-color: white;
  }
  h2,h1{
    background-color: white;
  }
  
  .center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1%;
    width: 10%;
    padding: 1%;
  }
  span{
    background-color: white;
    text-align: center;
  }
  .sig{
    color: blue;
    background-color: white;
    padding: 2%;
    text-decoration: none;
  }
  #signin:hover{
    background-color: rgb(180, 36, 36);
  }