.parent
{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.nav1
{
    background-color: #002244;
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#nav2
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#h
{
    margin: 30px;

}
.button
{
    margin: 70px;
    border: 1px solid #FF3333;
    margin-left: 150px;
    margin-right: 150px;
    background-color: #FF3333;
    border-radius: 40px;
    padding: 10px;

}
#i1
{
    margin-left:20%;
}
.nimg
{
    margin: 30px;
}
#parent2
{
    display: grid;
    grid-template-columns: repeat(3,35%);
    margin-left: 10px;
    gap: 20px;
}
#parent3
{
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
}
#child1
{
    margin-left: 100px;
}
#list-group h5{
    color: #002244;
}
#head
    {
        color: black;
    }
#head1
{
    color: black;    
}
footer {
    background-color: black;
    color: #fff;
    padding: 10px;
    text-align: center;
  }   

@media screen  and (max-width :768px)
{
    #parent3
    {
        margin: 10%;
    }
    #i1
    {
        display: none;
    }
    #class1
    {
        margin: 20%;

    }
    #class2
    {
        margin: 20%;

    }
    #class3
    {
        margin: 30%,

    }
    #parent2
    {
        display: flex;
        flex-direction: column;
    }
    

}
