* {
  padding: 0px;
  margin: 0px;
}
body {
  font-family: "Times New Roman", Times, serif;

  font-size: larger;
}
ul {
  list-style-type: none;
  font-style: italic;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-transform: capitalize;
}

.flex {
  display: flex;
  align-items: center;
}
.container {
  max-width: 1500px;
  margin-inline: auto;
  overflow: hidden;
}
p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
a {
  text-decoration: none;
}
nav {
  color: white;
  background-color: #002244;
  /* border: 8px solid rgb(153, 7, 7); */
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  right: 0;
}
.main-nav {
  justify-content: space-between;
  padding-block: 8px;
}
/* .search-bar input[type="text"] {
    width: 250px;
    height: 20px;
    border: 4px solid rgb(141, 2, 2);
    font-style: italic;
    border-radius: 25px;
    padding: 15px 32px;
  } */

/* button {
    background-color: white;
    color: rgb(141, 2, 2);
    box-shadow: 0 4px 0 0;
    border: 4px solid black;
    border-radius: 25px;
    display: inline-blockS;
    text-transform: capitalize;
    padding: 15px 32px;
  }
  .search:hover {
    background-color: rgb(187, 187, 187);
  } */
.Middle-part {
  justify-self: center;
}
#company-log0 {
  width: 80px;
  height: 80px;
  border-radius: 0%;
  border: 4px solid black;
}
.logo img {
  width: 120px;
  height: 100px;
  border-radius: 0%;
  border: 4px solid black;
}
.nav-links a {
  gap: 25px;
  color: #fff;
  font-style: italic;
  font-size: larger;
}
.parent {
  color: rgb(12, 5, 5);
  text-align: center;
  text-decoration: bold;
  text-shadow: rgb(9, 9, 23);
  text-transform: capitalize;
  text-decoration-line: underline;
  font-style: italic;
}

main {
  padding-block: 20px;
  margin-top: 120px;
}
#child {
  padding: auto;
  margin: auto;
  margin-top: 40px;
  width: 500px;
  box-shadow: 0 4px 0 0;
  background-color: rgb(7, 6, 6);
  border-radius: 8px;
  border-color: 4px solid rgb(7, 2, 51);
  overflow: hidden;
}
#child2 {
  font-size: larger;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: black;
  padding: 20px;
  margin-top: 20px;
}
footer {
  background-color: black;
  color: #fff;
  padding: 10px;
  text-align: center;
}
